[Unit]
Description=Husky Explorer Sense HAT
After=network.target

[Service]
ExecStart=python3 /home/pi/ROV/Misc/SenseHat.py
User=pi
Type=notify
Restart=always

[Install]
WantedBy=multi-user.target