[Unit]
Description=ROV Control Service
After=network.target

[Service]
ExecStart=/home/pi/ROV/Control/index.py
WorkingDirectory=/home/pi/ROV/Control
User=pi
Type=notify
Restart=always

[Install]
WantedBy=multi-user.target